body {
  font-family: Arial, sans-serif;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-box {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, select, button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.record {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

img {
  margin-top: 5px;
  border-radius: 8px;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(201, 201, 201);
  width: 100%;
  text-align: center;
}
